# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "Artificial Nose"

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

config APP_INFERENCE_PERIOD
        int "Model inference period (milliseconds)"
        default 250
        range 50 1000
        help
          How often to run the model inference.

config APP_PRINT_SENSOR_VALUES
        bool "Print sensor values"
        default n
        help
          Print sensor values to the console (useful with the Edge Impulse Forwarder).

menuconfig APP_MQTT
        bool "Enable MQTT"
        default n
        imply NETWORKING
        imply NET_CONNECTION_MANAGER
        imply NET_DHCPV4
        imply DNS_RESOLVER
        imply NET_TCP
        imply MQTT_LIB
        imply HWINFO       # used to compute the client ID
        help
          Enable MQTT support.

if APP_MQTT

config APP_MQTT_BROKER_HOSTNAME
        string "MQTT broker hostname"
        default "broker.hivemq.com"
        help
          Hostname of the MQTT broker.

config APP_MQTT_BROKER_PORT
        int "MQTT broker port"
        default 1883
        help
          Port of the MQTT broker.

endif # APP_MQTT

endmenu # Artificial Nose