# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config GROVE_MULTICHANNEL_GAS_SENSOR_V2
       bool "Seeed Grove Multichannel Gas Sensor V2"
       default y
       depends on DT_HAS_SEEED_GROVE_MULTICHANNEL_GAS_V2_ENABLED
       depends on I2C && !MINIMAL_LIBC
       help
         Enable driver for the Grove Multichannel Gas Sensor V2.